@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat+Alternates:wght@100;400&display=swap');
/*
font-family: 'Handlee', cursive;
font-family: 'Montserrat Alternates', sans-serif;
*/

body {
    font-size: 1em;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
}

span {
    font-family: 'Handlee', cursive;
}