* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section article {
    width: 100%;
}

@media (min-width: 768px) {
    section article {
        width: calc(50% - 2em);
        margin: 1em;
    }
}

@media (min-width: 1004px) {
    section article {
        width: calc(33.333% - 1em);
        margin: 0.5em;
    }
    section article:last-child {
        width: calc(100% - 1em);
    }
}